


@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
@import "../styles/variables.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
